{% if settings.show_share_facebook %}
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | append: product.url }}"
    target="_blank"
    class="text-gray-400 hover:text-[#1877F2] transition-colors"
  >
    {% render 'icon-facebook' %}
  </a>
{% endif %}

{% if settings.show_share_x %}
  <a
    href="https://twitter.com/intent/tweet?text={{ product.title | url_param_escape }}&url={{ shop.url | append: product.url }}"
    target="_blank"
    class="text-gray-400 hover:text-black transition-colors"
  >
    {% render 'icon-x' %}
  </a>
{% endif %}

{% if settings.show_share_line %}
  <a
    href="https://social-plugins.line.me/lineit/share?url={{ shop.url | append: product.url }}"
    target="_blank"
    class="text-gray-400 hover:text-[#06C755] transition-colors"
  >
    {% render 'icon-line' %}
  </a>
{% endif %}
{% if settings.show_share_pinterest %}
  <a
    href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_media | image_url: width: 1200 }}&description={{ product.title | url_encode }}"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center justify-center w-8 h-8 rounded-full bg-gray-100 hover:bg-red-600 hover:text-white transition-colors"
    aria-label="Share on Pinterest"
  >
    {% render 'icon-pinterest' %}
  </a>
{% endif %}
